html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
.field {
  width: 360px;
  height: 360px;
  background-color: #eee;
  border: 2px solid #aaa;
}
.linie {
  height: 12px;
}
.cell, .snakeBody, .foodBody {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
}

.snakeBody {
  background-color: #bbb;
}
.foodBody {
  background-color: #aaa;
}
#lostMessage {
 display: none;
 font-size: 20px;
 font-weight: bold;
 background-color: white;
 border-radius: 10px;
 border: 2px solid rgb(117, 112, 112);
 padding: 30px;
 opacity: .7;
 position: absolute;
}
#lostMessage button {
  display: block;
  margin: 20px auto 0;
}
#info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 360px;
  height: 50px;
  border: 2px solid #aaa;
  border-bottom: none;
}
#info span {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}
#startButton {
  margin-bottom: 10px;
}
.displayBlockButton {
  display: block;
}
#rButton {
  float:right;
}
#controls {
  margin-top: 10px;
  height: 80px;
  width: 140px;
}
#controls button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
  background-color: #eee;
}

@media only screen and (min-width: 768px) { 
  .field {
    width: 600px;
    height: 600px;
  }
  .linie {
    height: 20px;
  }
  .cell, .snakeBody, .foodBody {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
  }
  #info {
    width: 600px;
  }

}